<div class="school-box">
  <p class="callout">Enter information in field to edit classroom</p>
  <div class="translucent-form-overlay">
    <%= render 'form', classroom: @classroom %>
  </div>
</div>
