


<div class="translucent-form-overlay">
  <div class="panel">
    <h1 align="center">Admin Page</h1><br>
      <h1>Users List</h1><br>
        <ul>
          <% @users.each do |user| %>
            <div class="panel">
              <h4>User Name: <%= user.full_name %> </h4>
              <%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
            </div>
          <% end %>
          <% @schools.each do |school| %>
            <div class="panel">
                <h4>School Name: <%= school.name %></h4>
                <%= link_to 'Delete School', school, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
          </div>
          <% end %>
        </ul>
  </div>
</div>
