

<div class="large-7 medium-7 columns">
 <%= image_tag("parent-teacher.jpg", class: 'welcome-img') %>
</div>



<div class="callout large-5 medium-5 columns">
  <h3>Welcome to Hello Teacher</h3>
  <h4>For Parents:</h4>
    <p>This application allows for easy communication with your
    child's teacher. Find out about your child's current grades, teacher
    comments, and communicate with your child's teacher directly.</p>
  <h4>For Teachers:</h4>
    <p>This application allows you to create classrooms with each of
    your students, add grades and comments for each student to communicate their
    current status to their parents, and communicate directly with parents through
    group or private messages.</p>
</div>
