/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 body {
   background-image: url("background_for_hello_teacher.jpeg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;
 }

 .panel {
   border: 0.5em ridge yellow;
   color: black;

 }



 .row{
   background-color: rgba(54, 54, 54, 0.8);

 }
 h4{
   color: black;
   font-family: fantasy;
   margin: 1em 0em 0em 1em;
   font-size: 1em;
 }

 .notice {
   width: 50%;
   margin: auto;
   background-color: white;
   color: red;
   font-size: 2em;
   text-align: center;
 }
 .school-title {
   color: #1779BA;
   background-color: white;
   margin: auto;
   width: 60%;
   text-align: center;
 }

 img {
   width: 12em;
   height: 12em;
 }


 .new-user-form {
   background-color: #1779BA;
   height: 4em;
   width: 16em;
 }

 .translucent-form-overlay {
   max-width: 500px;
   width: 100%;
   background-color: rgba(54, 54, 54, 0.8);
   padding: 20px;
   color: #fefefe;
   margin: auto;
   margin-top: 2em;
 }

 .translucent-form-overlay .columns.row {
   display: block;
 }

 .translucent-form-overlay h3, .translucent-form-overlay label {
   color: #fefefe;
 }

 .translucent-form-overlay input, .translucent-form-overlay select {
   color: #8a8a8a;
 }

 .translucent-form-overlay input::-webkit-input-placeholder {
   color: #8a8a8a;
 }

 .translucent-form-overlay input:-ms-input-placeholder {
   color: #8a8a8a;
 }

 .translucent-form-overlay input::placeholder {
   color: #8a8a8a;
 }



 /*new back style*/

 .card-user-profile {
   position: relative;
   z-index: 0;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
       -ms-flex-direction: column;
           flex-direction: column;
   margin-bottom: 1rem;
   border: 0;
   border-radius: 0;
   background: #fefefe;
   box-shadow: none;
   overflow: hidden;
   color: #0a0a0a;
 }

 .card-user-profile > :last-child {
   margin-bottom: 0;
 }

 .card-user-profile:hover .card-user-profile-img {
   opacity: 1;
 }

 .card-user-profile-content {
   position: relative;
 }

 .card-user-profile-content::before {
   position: absolute;
   content: '';
   top: -3.4375rem;
   left: -1.875rem;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 3.4375rem 0 0 31.25rem;
   z-index: 0;
   border-color: transparent transparent transparent #fefefe;
 }

 .card-user-profile-actions {
   -webkit-flex: 0 1 auto;
       -ms-flex: 0 1 auto;
           flex: 0 1 auto;
   padding: 1rem;
   background: #e6e6e6;
   background: #fefefe;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
 }

 .card-user-profile-actions > :last-child {
   margin-bottom: 0;
 }

 .card-user-profile-img {
   max-width: 100%;
   opacity: 0.85;
   transition: all 0.25s ease;
 }


 /*top bar*/
